.racer_table td {
  background-color: white;
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

.racer_table td.active {
  background-color: blue;
}

.racer_table td.finish {
  background-color: red;
}

h1 {
	text-align: center;
}

/*.racer_table td.active2 {
  background-color: green;
}
*/